<!doctype html>
<html lang="en">
  <head>
    {% render "head", metadata: site.metadata, title: page.title %}
  </head>
  <body class="{{ page.layout }} {{ page.page_class }}">
    <div class="relative bg-white shadow">
      {% render "navbar", metadata: site.metadata, page: page %}
    </div>

    <main class="bg-no-repeat">
      {% render "banner" %}
      <!-- <img src="/assets/img/background_pattern.svg" class="absolute left-1/4 transform -translate-y-20" /> -->

      <div class="py-16 bg-gray-50 bg-opacity-50 overflow-hidden lg:py-24">
        <div class="relative max-w-xl mx-auto px-4 sm:px-6 lg:px-32 md:max-w-screen-xl space-y-8 sm:space-y-12 lg:space-y-16">
          {{ content }}
        </div>
      </div>
    </main>

    {% render "footer", metadata: site.metadata %}
  </body>
</html>
