---
layout: default
---

<div class="relative text-center">
  <h1 class="font-display text-4xl tracking-normal leading-10 font-extrabold text-primary-500 sm:text-5xl sm:leading-none md:text-6xl">
    Re-conquer your schedule
  </h1>
  <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
    Smart availability planning for freelancers
  </p>
</div>

<div class="relative mt-12 lg:mt-24 space-y-12">
  <div class="mt-10 -mx-4 relative lg:mt-0 text-center">
    <!-- <svg class="absolute left-1/2 transform -translate-x-1/2 translate-y-16 lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
         <defs>
         <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
         <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
         </pattern>
         </defs>
         <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
         </svg> -->
    <video autoplay class="border rounded" width="1920" height="1080" controls loop>
      <source src="/assets/video/crowsnest_create_workloads.mp4" type="video/mp4">
      <source src="/assets/video/crowsnest_create_workloads.webm" type="video/webm">
      Your browser does not support the video tag.
    </video>
    <!-- <img class="relative mx-auto border rounded-lg mb-4" width="400" src="/assets/img/schedule_form@2x.png" alt=""> -->
    <!-- <img class="relative mx-auto border rounded-lg mt-4" width="400" src="/assets/img/schedule_confirmation@2x.png" alt=""> -->
    <!-- <i class="far fa-arrow-alt-down fa-lg text-gray-500"></i> -->
    <!-- <img class="relative mx-auto border rounded-lg mt-4" width="400" src="/assets/img/schedule_done@2x.png" alt=""> -->
  </div>

  <div class="relative">
    <!-- <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
         Transfer funds world-wide
         </h4>
         <p class="mt-3 text-lg leading-7 text-gray-500">
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur minima sequi recusandae, porro maiores officia assumenda aliquam laborum ab aliquid veritatis impedit odit adipisci optio iste blanditiis facere. Totam, velit.
         </p>
    -->
    <ul class="mt-4">
      <li>
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-primary-700 text-white">
              <i class="far fa-analytics fa-lg"></i> 
            </div>
          </div>
          <div class="ml-4">
            <h5 class="text-lg leading-6 font-medium text-gray-900">Determine the optimal time allocation over a given timespan.</h5>
            <p class="mt-2 text-base leading-6 text-gray-500">
              Let Crow's Nest figure out how to distribute time boxes given
              <ul class="list-inside list-disc text-gray-500 my-3">
                <li>a project timespan (start and end date), and </li>
                <li>a total number of hours</li>
              </ul>
            </p>
            <p class="mt-2 text-base leading-6 text-gray-500">
              Improve results by including your project history.
            </p>
          </div>
        </div>
      </li>
      <li class="mt-10">
        <div class="flex">
          <div class="flex-shrink-0">
            <div class="flex items-center justify-center h-12 w-12 rounded-md bg-primary-700 text-white">
              <i class="far fa-chart-line-down fa-lg"></i> 
            </div>
          </div>
          <div class="ml-4">
            <h5 class="text-lg leading-6 font-medium text-gray-900">Use smart or standard burn rates.</h5>
            <p class="mt-2 text-base leading-6 text-gray-500">
              The ideal burn rate is <em>constant</em>, but experience tells us that this hardly ever meets reality. Here are other burn rate types supported:
              <dl class="mt-5 border rounded-lg bg-gray-50">
                <div class="sm:grid sm:grid-cols-4 sm:gap-4 p-5">
                  <dt class="text-base leading-5 font-medium text-gray-500">
                    Hill
                  </dt>
                  <dd class="mt-1 text-base leading-5 text-gray-900 sm:mt-0 sm:col-span-3">
                    <p>
                      Hill-shaped work typically occurs when there is a culmination point, like an event (consider wedding photography, street interviews etc.).
                    </p>
                    <p class="mt-3">
                      You do a little planning upfront, then the majority of work hours takes place in a few days. Afterwards you do the follow up work in smaller time chunks (your mileage may vary of course).
                    </p>
                  </dd>
                </div>
                <div class="sm:grid grid-cols-4 sm:gap-4 border-t border-gray-200 p-5">
                  <dt class="text-base leading-5 font-medium text-gray-500">
                    Valley
                  </dt>
                  <dd class="mt-1 text-base leading-5 text-gray-900 sm:mt-0 sm:col-span-3">
                    Sprint-like workloads are often valley-shaped:
                    <ul class="list-disc list-inside mt-3">
                      <li>You process tasks right after kick-off 🖥</li>
                      <li>then slack 🏖 </li>
                      <li>and gain pace again right before sprint review 🚀</li>
                    </ul>
                  </dd>
                </div>
                <div class="sm:grid grid-cols-4 sm:gap-4 border-t border-gray-200 p-5">
                  <dt class="text-base leading-5 font-medium text-gray-500">
                    Smart
                  </dt>
                  <dd class="mt-1 text-base leading-5 text-gray-900 sm:mt-0 sm:col-span-3">
                    <p>
                      Connect your <a href="https://www.getharvest.com" class="text-primary-700">Harvest</a> account and capitalize on your project and client history.
                    </p>
                    <p class="mt-3">
                      Even without a Harvest account, profit from anonymized industry data.
                    </p>
                  </dd>
                </div> 
              </dl>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- <svg class="hidden lg:block absolute right-full transform translate-x-1/2 translate-y-12" width="404" height="784" fill="none" viewBox="0 0 404 784">
     <defs>
     <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
     <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
     </pattern>
     </defs>
     <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
     </svg>
-->

<hr>

<div class="relative">
  <div class="space-y-12">
    <div class="mt-10 -mx-4 relative lg:mt-0 lg:col-start-1 text-center">
      <video autoplay class="border rounded" width="1920" height="1080" controls loop>
        <source src="/assets/video/crowsnest_preferences.mp4" type="video/mp4">
        <source src="/assets/video/crowsnest_preferences.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="">
      <!-- <h4 class="text-2xl leading-8 font-extrabold text-gray-900 tracking-tight sm:text-3xl sm:leading-9">
           Always in the loop
           </h4>
           <p class="mt-3 text-lg leading-7 text-gray-500">
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ex obcaecati natus eligendi delectus, cum deleniti sunt in labore nihil quod quibusdam expedita nemo.
           </p>
      -->
      <ul class="mt-4">
        <li>
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-primary-700 text-white">
                <i class="far fa-calendar-exclamation fa-lg"></i> 
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Spot overbookings.</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                One of freelancers' primary sources of stress are <strong>hidden overbookings</strong>. These occur because ordinary calendar views do not take the non-linear nature of workloads into account.
              </p>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Crow's Nest helps reduce these shortcomings by providing a more exact view into future workloads, thus minimizing the risk for burn out.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10">
          <div class="flex">
            <div class="flex-shrink-0">
              <div class="flex items-center justify-center h-12 w-12 rounded-md bg-primary-700 text-white">
                <i class="far fa-angle-double-right fa-lg"></i> 
              </div>
            </div>
            <div class="ml-4">
              <h5 class="text-lg leading-6 font-medium text-gray-900">Make accurate predictions of your availability.</h5>
              <p class="mt-2 text-base leading-6 text-gray-500">
                A client calls whether you're available in the first two weeks of the following month. You look at your calendar, and in your head you start summing up all the hours you already allocated for other clients.
              </p>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Stress kicks in, your instinct tells you to decline it but your brain argues that if you say no that client maybe never comes back. And you can always squeeze in a night shift...
              </p>
              <p class="mt-2 text-base leading-6 text-gray-500">
                Does this scenario sound familiar? It happens to a lot of freelancers at irregular intervals. Crow's Nest will take out a significant amount of strain from this process by allowing you to <strong>detect available spots</strong> in your calendar more precisely.
              </p>
            </div>
          </div>
        </li>
        <li class="mt-10"></li>
      </ul>
    </div>
  </div>
</div>

<div class="max-w-screen-xl mx-auto px-4 py-12 sm:px-6 lg:py-16 lg:px-8">
  <div class="px-6 py-6 bg-primary-700 rounded-lg md:py-12 md:px-12 lg:py-16 lg:px-16 xl:flex xl:items-start">
    <div class="xl:w-0 xl:flex-1">
      <h2 class="text-2xl leading-8 font-bold tracking-tight text-white sm:text-3xl sm:leading-9">
        Want to be notified when a private beta is available?
      </h2>
      <p class="mt-3 max-w-3xl text-lg leading-6 text-primary-200" id="newsletter-headline">
        Development will start once a critical mass of users have signed up.
      </p>
    </div>
    <div class="mt-8 sm:w-full sm:max-w-md xl:mt-0 xl:ml-8">
      <form aria-labelledby="newsletter-headline" action="https://julianrubisch.us17.list-manage.com/subscribe/post?u=31a183f5375fb6e851c5b4aaf&amp;id=3be4add34f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="sm:flex">
          <input aria-label="Email address" type="email" required class="appearance-none w-full px-5 py-3 border border-transparent text-base leading-6 rounded-md text-gray-900 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 transition duration-150 ease-in-out" placeholder="Enter your email" value="" name="EMAIL" id="mce-EMAIL">
          <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0">
            <input type="submit" value="Notify me" class="w-full flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-primary-500 hover:bg-primary-400 focus:outline-none focus:bg-primary-400 transition duration-150 ease-in-out"/>
          </div>
        </div>

        <div class="text-sm leading-5 text-primary-200 mt-5">
          <h4 class="text-base mb-3">Marketing Permissions</h4>
          <p>Please select all the ways you would like to hear from :</p>
          <fieldset class="mc_fieldset gdprRequired mc-field-group my-4" name="interestgroup_field">
            <label class="checkbox subfield text-base ml-4" for="gdpr_82230"><input type="checkbox" id="gdpr_82230" name="gdpr[82230]" value="Y" class="av-checkbox gdpr"><span class="ml-3">Email</span> </label>
          </fieldset>
          <p>You can unsubscribe at any time by clicking the link in the footer of our emails. For information about our privacy practices, please visit our website.</p>
        </div>

      </form>
      <p class="mt-3 text-sm leading-5 text-primary-200">
        We use Mailchimp as our marketing platform. By clicking above to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank" class="text-white font-medium underline">Learn more about Mailchimp's privacy practices here.</a>
      </p>
    </div>
  </div>
</div>

<div class="relative max-w-7xl mx-auto">
  <div class="text-center">
    <h2 class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10">
      From the blog
    </h2>
    <p class="mt-3 max-w-2xl mx-auto text-xl leading-7 text-gray-500 sm:mt-4">
    </p>
  </div>
  <div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">
    {% for post in site.posts limit:3 %}
      {% render "post_card", post: post %}
    {% endfor %}
  </div>
  <div class="flex justify-center items-center h-16 leading-5 font-medium text-indigo-600 mt-12">
    <a href="{% link posts.md %}" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:text-indigo-600 hover:bg-indigo-50 focus:outline-none focus:shadow-outline focus:border-indigo-300 transition duration-150 ease-in-out">Read more blog posts</a>
  </div>
</div>
{{ content }}
