---
layout: default
---

<p class="text-sm leading-5 text-gray-500 uppercase">
  <time datetime="{{page.date | date: "%F"}}">{{ page.date | date: "%a, %b %d, %Y" }}</time>
</p>
<h1 class="font-display text-3xl tracking-normal font-bold text-primary-900 text-left">{{ page.title }}</h1>

<div class="prose prose-lg mt-4 bg-white p-4 md:p-8 bg-opacity-75 shadow max-w-none">
  {{ content }}
</div>
