@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'monokai.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  @apply bg-white text-gray-900;
}

h1, nav, footer {
  text-align: center;
}

main {
  margin: 0 auto;
  background: url("/assets/img/background_pattern.svg");
  background-size: 200% 200%;
  background-position: bottom left;
}

.logo {
  @apply text-primary-500 uppercase font-display font-extrabold tracking-wide;
  text-shadow: 3px 3px 0 theme('colors.purple.200');
}


@screen md {
  .prose {
    img {
      @apply max-w-3/4 mx-auto;
    }
  }
}
