<div class="max-w-7xl mx-auto px-4 sm:px-6">
  <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
    <div class="w-0 flex-1 flex">
      <a href="/" class="inline-flex">
        <h2 class="relative logo text-2xl md:text-3xl z-10">Crow's Nest</h2>
        <img src="/assets/img/background_pattern.svg" class="absolute w-20 z-0 transform -translate-x-6 -translate-y-5 md:-translate-y-4" />
      </a>
    </div>
    <!-- <div class="-mr-2 -my-2 md:hidden">
         <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
         <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
         </svg>
         </button>
         </div>
         <nav class="hidden md:flex space-x-10">
         <a href="#" class="text-gray-500 inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150">
         Solutions
         </a>
         <a href="#" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 transition ease-in-out duration-150">
         Pricing
         </a>
         <a href="#" class="text-base leading-6 font-medium text-gray-500 hover:text-gray-900 transition ease-in-out duration-150">
         Docs
         </a>
         <a href="#" class="text-gray-500 inline-flex items-center space-x-2 text-base leading-6 font-medium hover:text-gray-900 transition ease-in-out duration-150">
         More
         </a>
         </nav> -->
    <div class="hidden md:flex items-center justify-end space-x-8 md:flex-1 lg:w-0">
      <!-- <a href="#" class="whitespace-no-wrap text-base leading-6 font-medium text-gray-500 hover:text-gray-900 transition ease-in-out duration-150">
           Sign in
           </a>
           <span class="inline-flex rounded-md shadow-sm">
           <a href="#" class="whitespace-no-wrap inline-flex items-center justify-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
           Sign up
           </a>
           </span> -->
    </div>
  </div>
</div>
