<div class="flex flex-col rounded-lg shadow-lg overflow-hidden">
  <div class="flex-shrink-0">
    <img class="h-48 w-full object-cover" src="{{post.image}}" alt="">
  </div>
  <div class="flex-1 bg-white p-6 flex flex-col justify-between">
    <div class="flex-1">
      <p class="text-sm leading-5 font-medium text-indigo-600">
        <a href="#" class="hover:underline">
          <!-- Blog -->
          {{post.categories | first}}
        </a>
      </p>
      <a href="{{post.url}}" class="block">
        <h3 class="mt-2 text-xl leading-7 font-semibold text-gray-900">
          {{post.title}}
        </h3>
        <p class="mt-3 text-base leading-6 text-gray-500">
          {{post.excerpt}}
        </p>
      </a>
    </div>
    {% assign author = post.author | find_author_by_email %}
    <div class="mt-6 flex items-center">
      <div class="flex-shrink-0">
        <a href="#">
          <img class="h-10 w-10 rounded-full" src="https://www.gravatar.com/avatar/{{ author.email | remove: ' ' | strip_newlines | downcase | md5 }}" alt="">
        </a>
      </div>
      <div class="ml-3">
        <p class="text-sm leading-5 font-medium text-gray-900">
          <a href="#" class="hover:underline">
            {{ author.name }}
          </a>
        </p>
        <div class="flex text-sm leading-5 text-gray-500">
          <time datetime="{{post.date | date: "%F"}}">
            {{post.date | date: "%a, %b %d, %Y"}}
          </time>
          <span class="mx-1">
            &middot;
          </span>
          <span>
            {{post.content | reading_time }} min read
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
